@charset "utf-8";
$sapcustombackoffice-container-background: var(--bo-base-background);
$sapcustombackoffice-container-font-family: var(--bo-font-family);
$sapcustombackoffice-container-font-size: $font-size__base;
$sapcustombackoffice-label-text-color: var(--bo-text-color);
